@charset "utf-8";
/* CSS Document */
h1
{
	color :#FD0004 ;
	text-align: center ;
}
.t1
{
	align-content: center ;
	background-color: blue;
	color: white ;
}
.lien
{
	color: red ;
}
.color
{
	background-color: yellow ;
}
h3
{
	color: red ;
	font-size: 20px;
}
