<!Doctype html>
<HTML>
<head>
</head>
<body>
<form method="POST" action="ajoutReclamation.php">
<table>
<caption>Ajouter Reclamation</caption>
<tr>
<td>ID</td>
<td><input type="number" name="id"></td>
</tr>
<tr>
<td>MAIL</td>
<td><input type="text" name="mail"></td>
</tr>
<tr>
<td>TEL</td>
<td><input type="text" name="tel"></td>
</tr>
<tr>
<td>RECLAM</td>
<td><textarea type="text" name="reclam"></textarea>
</td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="ajouter" value="ajouter"></td>
</tr>
</table>
</form>
</body>
</HTMl>